<h1>Admin Dashboard</h1>
<p>Welcome to the dashboard</p>
<div class="p-3 mb-2 bg-success text-white">
  <h2>Details:</h2>
  <p>Total Products: <%= @product_count %></p>
  <p>Total Categories: <%= @category_count %></p>
</div>